{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<hr>
  <div class="container-fluid" id="equal-card-decks">

    <!--.card deck -->
    <div class="card-deck">

     <div class="card">
        <div class="card-block">
          <h5 class="card-title">Upload</h5>
          <form action="{{ url_for('nifi.go_nifi_upload') }}" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ render_field(form.model, placeholder="Enter model (enko, kor, or ende)") }}
            {{ render_field(form.upload, multiple="multiple") }}
            {{ render_field(form.submit) }}
          </form>
        </div>
        <div class="card-footer text-muted">
          When uploading a text (txt) file, the format MUST be UNICODE UTF-8
        </div>
     </div>

    </div>
    <a href="{{ url_for('nifi.go_nifi_list') }}" class="btn btn-sm btn-primary">Home</a>
  </div>
</hr>

{% endblock %}
