Flask
gunicorn
dash
dash-core-components
dash-html-components
dash-table-experiments
pandas-datareader
matplotlib
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
flask-mongoengine
flask-uploads
flask-paginate
