{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<hr>

  <div class="container" id="equal-card-decks">
    <p class="text-right text-muted">{{ nifi.uuid }} </p>
    <p class="text-right text-muted"> {{ nifi.result }} </p>
    <h3 class="text-left">{{ nifi.source }} </h3>

    <!--.card deck -->
    <div class="card-deck">

      <!--.card-->
      <div class="card border-dark mb-3" style="max-width: 28rem;">
        <h5 class="card-header">
           UPLOAD
        </h5>
        <div class="card-body text-dark">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.input.start }}</small></p>
          <p class="card-text text-left">{{ nifi.input.msg }}</p>
        </div>
        {% if nifi.input_data.grid %}
        <div class="card-footer">
           <a href="{{ url_for('nifi.go_nifi_input', uuid=nifi.uuid) }}" class="card-link">original</a>
        </div>
        {% endif %}
     </div>

     <!--.card-->
     {% if nifi.ocr.msg %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
       <h5 class="card-header">
           OCR
       </h5>
       <div class="card-body text-dark">
         <p class="card-text text-right"><small class="text-muted">{{ nifi.ocr.start }}</small></p>
         <p class="card-text text-left">{{ nifi.ocr.msg }}</p>
       </div>
       {% if nifi.ocr_data.grid %}
       <div class="card-footer">
          <a href="{{ url_for('nifi.go_nifi_clean', uuid=nifi.uuid) }}" class="card-link">clean</a>
          <a href="{{ url_for('nifi.go_nifi_ocr', uuid=nifi.uuid) }}" class="card-link">ocr</a>
       </div>
      {% endif %}
     </div>
     {% endif %}

     <!--.card-->
     {% if nifi.route.msg %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
       <h5 class="card-header">
           ROUTE
       </h5>
       <div class="card-body text-dark">
         <p class="card-text text-right"><small class="text-muted">{{ nifi.route.start }}</small></p>
         <p class="card-text text-left">{{ nifi.route.msg }}</p>
       </div>
     </div>
     {% endif %}

     <!--.card-->
     {% if nifi.translate.msg %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
        <h5 class="card-header">
           TRANSLATION
        </h5>
        <div class="card-body text-dark">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.translate.start }}</small></p>
          <p class="card-text text-left">{{ nifi.translate.msg }}</p>
        </div>
        {% if nifi.translate_data.grid %}
        <div class="card-footer">
           <a href="{{ url_for('nifi.go_nifi_translate', uuid=nifi.uuid) }}" class="card-link">translation</a>
        </div>
        {% endif %}
     </div>
     {% endif %}

    </div>

    <a href="{{ url_for('nifi.go_nifi_details', nifi_uuid=nifi.uuid) }}" class="btn btn-sm btn-primary">Refresh</a>
    <a href="{{ url_for('nifi.go_nifi_list') }}" class="btn btn-sm btn-secondary">Home</a>
    {% if nifi.result == 'DONE' %}
      <a href="{{ url_for('nifi.go_nifi_input_other', uuid=nifi.uuid) }}" class="btn btn-sm btn-success">Compare</a>
    {% endif %}

  </div>
</hr>

{% endblock %}
