{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}


<div class="card">
  <h1 class="display-5">{{ nifi.source }} </h1>
    <div class="card">
      <div class="card-header">UPLOAD</div>
      <div class="card-body">
        <p class="card-text text-right"><small class="text-muted">{{ nifi.input.start }}</small></p>
        <p class="card-text text-left">{{ payload }}</p>
        <p class="card-text text-left">{{ nifi.input_data.payload }}</p>
        {% if nifi.input_data.grid %}
        <a href="{{ url_for('nifi.go_grid', uuid=nifi.uuid) }}" class="btn btn-sm btn-primary">View</a>
        {% else %}
        <button type="button" class="btn btn-sm  btn-primary" disabled>View</button>
        {% endif %}
      </div>
    </div>
</div>

{% endblock %}
