{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<hr>

  <div class="container-fluid" id="equal-card-decks">
    <p class="text-right text-muted">{{ nifi.uuid }} </p>
    <p class="text-right text-muted"> {{ nifi.result }} </p>
    <h3 class="text-left">Details: {{ nifi.source }} </h3>

    <!--.card deck -->
    <div class="card-deck">

      <!--.card-->
      <div class="card border-dark mb-3" style="max-width: 28rem;">
        <div class="card-header">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.input.start }}</small></p>
          <h4 class="card-title">Stored Input</h4>
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title">{{ nifi.input.msg }}</h5>
          <p class="card-text text-left">Name: [{{ nifi.input.filename }}]</p>
          <p class="card-text text-left">Size: [{{ nifi.input.fileSize }}]</p>
        </div>
        {% if nifi.docx_data.grid %}
        {% elif nifi.pdf_data.grid %}
        {% elif nifi.input_data.grid %}
        <div class="card-footer">
           <a href="{{ url_for('nifi.go_nifi_input', uuid=nifi.uuid) }}" class="card-link">original</a>
        </div>
        {% endif %}
     </div>

     <!--.card-->
     {% if nifi.ocr.msg %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
        <div class="card-header">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.ocr.start }}</small></p>
          <h4 class="card-title">Processed Image</h4>
        </div>
       <div class="card-body text-dark">
         <h5 class="card-title">{{ nifi.ocr.msg }}</h5>
         <p class="card-text text-left">Source Language: [{{ nifi.ocr.lang }}]</p>
       </div>
       {% if nifi.ocr_data.grid %}
       <div class="card-footer">
          <a href="{{ url_for('nifi.go_nifi_clean', uuid=nifi.uuid) }}" class="card-link">clean</a>
          <a href="{{ url_for('nifi.go_nifi_ocr', uuid=nifi.uuid) }}" class="card-link">ocr</a>
       </div>
      {% endif %}
     </div>
     {% endif %}

     <!--.card-->
     {% if nifi.docx.msg %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
        <div class="card-header">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.docx.start }}</small></p>
          <h4 class="card-title">Processed DOCX</h4>
        </div>
       <div class="card-body text-dark">
         <h5 class="card-title">{{ nifi.docx.msg }}</h5>
       </div>
       {% if nifi.docx_data.grid %}
       <div class="card-footer">
          <a href="{{ url_for('nifi.go_nifi_docx', uuid=nifi.uuid) }}" class="card-link">docxText</a>
       </div>
      {% endif %}
     </div>
     {% endif %}

     <!--.card-->
     {% if nifi.pdf.msg %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
        <div class="card-header">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.pdf.start }}</small></p>
          <h4 class="card-title">Processed PDF</h4>
        </div>
       <div class="card-body text-dark">
         <h5 class="card-title">{{ nifi.pdf.msg }}</h5>
       </div>
       {% if nifi.pdf_data.grid %}
       <div class="card-footer">
          <a href="{{ url_for('nifi.go_nifi_pdf', uuid=nifi.uuid) }}" class="card-link">pdfText</a>
       </div>
      {% endif %}
     </div>
     {% endif %}

     <!--.card-->
     {% if nifi.route.msg %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
        <div class="card-header">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.route.start }}</small></p>
          <h4 class="card-title">Managed Route</h4>
        </div>
       <div class="card-body text-dark">
         <h5 class="card-title">{{ nifi.route.msg }}</h5>
       </div>
     </div>
     {% endif %}

     <!--.card-->
     {% if nifi.translate.msg %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
        <div class="card-header">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.translate.start }}</small></p>
          <h4 class="card-title">Translated Text</h4>
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title">{{ nifi.translate.msg }}</h5>
          <p class="card-text text-left">Model: [{{ nifi.model }}]</p>
          <p class="card-text text-left">Source Language: [{{ nifi.sourceLanguage }}]</p>
          <p class="card-text text-left">Target Language: [{{ nifi.targetLanguage }}]</p>
        </div>
        {% if nifi.translate_data.grid %}
        <div class="card-footer">
           <a href="{{ url_for('nifi.go_nifi_translate', uuid=nifi.uuid) }}" class="card-link">translation</a>
        </div>
        {% endif %}
     </div>
     {% endif %}

     <!--.card-->
     {% if nifi.metadata.summary %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
        <div class="card-header">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.metadata.start }}</small></p>
          <h4 class="card-title">Extracted Summary</h4>
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title">Summary</h5>
          <p class="card-text text-left">[{{ nifi.metadata.summary }}]</p>
        </div>
     </div>
     {% endif %}

     <!--.card-->
     {% if nifi.metadata.keywords %}
     <div class="card border-dark mb-3" style="max-width: 28rem;">
        <div class="card-header">
          <p class="card-text text-right"><small class="text-muted">{{ nifi.metadata.start }}</small></p>
          <h4 class="card-title">Extracted Keywords</h4>
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title">Keywords</h5>
          <p class="card-text text-left">[{{ nifi.metadata.keywords }}]</p>
        </div>
     </div>
     {% endif %}

    </div>

    <a href="{{ url_for('nifi.go_nifi_details', nifi_uuid=nifi.uuid) }}" class="btn btn-sm btn-primary">Refresh</a>
    <a href="{{ url_for('nifi.go_nifi_list') }}" class="btn btn-sm btn-secondary">Home</a>
    {% if nifi.result == 'DONE' %}
      <a href="{{ url_for('nifi.go_nifi_input_other', uuid=nifi.uuid) }}" class="btn btn-sm btn-success">Compare</a>
    {% endif %}

  </div>
</hr>

{% endblock %}
